.header {
    margin: 5rem 0 4rem 0;
}

.post {
    max-width: 720px;

    a{
        display: block;

        & + a{
            margin-top: 3rem;
        }

        h1{
            margin-bottom: 0.5rem;
            transition: color 0.3s;
        }
    
        p{
            margin-bottom: 2rem;
            color: var(--gray-300);
            font-size: 1.125rem;
            line-height: 1.25rem;
        }

        &:hover{
            h1{
                color: var(--pink-900);
            }
        }
    }
}